{% extends 'base.html' %}
{% block content %}
      <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="https://orig00.deviantart.net/7f90/f/2016/075/6/4/an_epic_friendship_by_tarnisis-d9vacto.jpg" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4">
            <span class="section-heading-upper">The frendship of</span>
            <span class="section-heading-lower">Legolas and Aragorn</span>
          </h2>
          <p class="mb-3">Aragorn & Legolas Friendship is a popular genre of fanfiction within the The Lord of the Rings fandom. While it is not impossible that Aragorn and Legolas might have met prior to the events depicted in Fellowship of the Ring, Tolkien never suggests directly that such a meeting might have taken place. Therefore, authors writing A/L Friendship stories generally refer to the scene in Peter Jackson's movie adaption, in which Legolas defends Aragorn against Boromir. Here, Legolas clearly has knowledge of Aragorn's true identity, which allows the educated guess that the two know each other. This means, that while A/L Friendship stories may be canonical to a certain extent, they include quite some fanon as well.
          </p>
        </div>
      </div>
    </div>
  </section>
{% endblock %}